body {
    margin: 0;
    width: 100vw;
    font: 16px "Montserrat", sans-serif;
    line-height: 1.8;
}
.img_tgif{
    width: 100%;
 }

 @media (max-width:860px){
    #bhgt{
        float: left;
    }
    }

@media all and (orientation: landscape) {
  
    #menu{
        padding-left:0 ;
        padding-right: 0;
    }
    .btn-link {
        color: black;
    }
    
    #mail{
        padding-right: 10%;
        padding-top: 5%;  
    }
    .t-center{
     margin: 2% 5% !important;
    }
    .form-check-label, .state-filter{
        padding: 4px;
    }
    
}



@media (orientation : portrait)  {
    
   
    .table{

        font-size: 14px; 
        vertical-align:middle; 
        text-align: center;
    }
    footer{
        bottom: 0px;
    }
    
   
}